<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site">
      <header class="site-header">
        <a href="{{ '/' | absolute_url }}" class="site-title">{{ site.title | default: site.github.repository_name }}</a>
        {% if site.description %}
          <p class="site-description">{{ site.description }}</p>
        {% endif %}
        <nav class="site-nav" aria-label="Main">
          <a href="{{ '/' | relative_url }}">Home</a>
          <a href="{{ '/research' | relative_url }}">{{ site.link_research }}</a>
          <a href="{{ '/publications' | relative_url }}">{{ site.link_publications }}</a>
        </nav>
      </header>

      <main class="site-main">
        {{ content }}
      </main>

      <footer class="site-footer">
        <p><small>Jonathan Gropp</small></p>
      </footer>
    </div>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
